<h1>Pages#info</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<table>
  <th>質問</th>
  <th>答え</th>
  <tr>
    <td>名前は？</td>
    <td>嶋崎絵美子</td>
  </tr>
  <tr>
    <td>出身は？</td>
    <td>埼玉県</td>
  </tr>
  <tr>
    <td>好きな食べ物は？</td>
    <td>ラーメン</td>
  </tr>
  <tr>
    <td>嫌いな食べ物は？</td>
    <td>人参</td>
  </tr>
</table>  
